# ==================================================
# NPM Registry
# ==================================================

registry=https://artifactory.internal.cba/artifactory/api/npm/dp-npm-new/


# ==================================================
# Authentication
# ==================================================

//artifactory.internal.cba/artifactory/api/npm/:_auth = ${ARTIFACTORY_ENTERPRISE_NPM_AUTH}
always-auth = true


# ==================================================
# Lumen Registry
# ==================================================

@lumen:registry=https://artifactory.internal.cba/artifactory/api/npm/digitalchannels-lumen-npm/
